@model EcommercialWebApplication.Models.Account
@{
    ViewData["Title"] = "Recover Your Password";
}

<h3 class="register-title">@ViewData["Title"]</h3>
<div class="register-main">
    <div class="row main-row">
        <div class="col-12">
            <form id="change-password-form" asp-controller="Account" asp-action="ChangePassword" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating form-item">
                    <input asp-for="@Model.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="@Model.Password"></label>
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <div class="form-floating form-item">
                    <input asp-for="@Model.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="@Model.ConfirmPassword"></label>
                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-info">Update Password</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}