@using Microsoft.AspNetCore.Identity
@inject SignInManager<Customer> SignInManager
@model EcommercialWebApplication.Models.Profile

@{
    ViewData["Title"] = "Profile";
}

<h1 class="big-title">Manage your account</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-5">
             <div class="profile-picture">
                <img src="~/images/profile.png" />
            </div>
            <h4 class="user-name">User: @User.Identity?.Name</h4>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <div class="profile-main-log">
                        <ul type="none">
                            <a class="btn btn-info" href="#" class="nav-interact" onclick="navOpen()">Profile</a>
                            <div class="nav-div-none">
                                <li class="profile-nav"><a asp-controller="Profile" asp-action="ProfileDetail" style="color:blue!important">My Profile</a></li>
                                <li class="profile-nav"><a asp-controller="History" asp-action="HistoryOrders">My History</a></li>
                            </div>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="btn btn-info position-relative" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
                </li>
            </ul>
        </div>
        <div class="col-md-7 profile-content-center">
            <h4 class="small-title">My Profile</h4>
            <hr />
            <dl class="row">
                <dt class = "col-md-4">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class = "col-md-5 text-center">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class = "col-md-4">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class = "col-md-5 text-center">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class = "col-md-4">
                    @Html.DisplayNameFor(model => model.Dob)
                </dt>
                <dd class = "col-md-5 text-center">
                    @Html.DisplayFor(model => model.Dob)
                </dd>
                <dt class = "col-md-4">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class = "col-md-5 text-center">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class = "col-md-4">
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </dt>
                <dd class = "col-md-5 text-center">
                    @Html.DisplayFor(model => model.EmailAddress)
                </dd>
                <dt class = "col-md-4">
                    @Html.DisplayNameFor(model => model.Nationality)
                </dt>
                <dd class = "col-md-5 text-center">
                    @Html.DisplayFor(model => model.Nationality)
                </dd>
                <dt class = "col-md-4">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd class = "col-md-5 text-center">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <div>
                    <a asp-action="EditProfile" class="btn btn-info position-relative btn-edit-customer">Edit</a>
                </div>
            </dl>
        </div>
    </div>
</div>

<script>
    let listTitle = document.getElementsByClassName("profile-main-log")[0]
    let childDiv = document.getElementsByClassName("nav-div-none")[0];
    function navOpen() {
        if (childDiv.classList.contains("show")) {
            childDiv.classList.remove("show");
            childDiv.classList.add("nav-div-none");
        } else {
            childDiv.classList.add("show");
            childDiv.classList.remove("nav-div-none");
        }

    }
</script>

