@using Microsoft.AspNetCore.Identity
@model IEnumerable<EcommercialWebApplication.Models.Order>
@inject SignInManager<Customer> SignInManager
@inject UserManager<Customer> UserManager

@{
    var isSign = false;
    var roles = new string[1];
    if (SignInManager.IsSignedIn(User))
    {
        isSign = true;
        var currentUser = UserManager.FindByNameAsync(User.Identity.Name).Result;
        roles = UserManager.GetRolesAsync(currentUser).Result.ToArray();
    }
}


@{
    ViewData["Title"] = "Profile";
}

<h1>Manage your account</h1>

<div>
    <hr />
    <div class="row">
        <h4>@User.Identity?.Name</h4>
    </div>
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <div class="profile-main-log">
                        <ul type="none">
                            <a href="#" class="nav-interact" onclick="navOpen()">Profile</a>
                            <div class="nav-div-none">
                                <li class="profile-nav"><a asp-controller="Profile" asp-action="ProfileDetail">My Profile</a></li>
                                <li class="profile-nav"><a asp-controller="History" asp-action="HistoryOrders" style="color:blue!important">My History</a></li>
                            </div>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="btn btn-info position-relative" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <h4>History Orders</h4>
            <hr />
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PaymentMethod)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Total)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderDate)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PaymentMethod)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Total)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderDate)
                            </td>
                            <td>
                                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                @if (roles.Contains("Admin") && isSign)
                                {
                                    <a class="btn btn-warning" asp-action="Update" asp-route-id="@item.Id">Update</a> 
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    let listTitle = document.getElementsByClassName("profile-main-log")[0]
    let childDiv = document.getElementsByClassName("nav-div-none")[0];
    function navOpen() {
        if (childDiv.classList.contains("show")) {
            childDiv.classList.remove("show");
            childDiv.classList.add("nav-div-none");
        } else {
            childDiv.classList.add("show");
            childDiv.classList.remove("nav-div-none");
        }

    }
</script>





